.about-container {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
    line-height: 1.7;
    font-size: 18px;
    color: #333;
  }
  .back{
    font-size: 40px;
    color: black;
  }
  
  .about-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  