/* ProductPage.css */

.product-page {
    min-height: 85vh;
    display: flex;
    padding: 20px 10px 20px 10px;
}
  
  .main-product{
    width: 70%;
    padding-top: 80px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-container {
    width: 70%;
    height: auto;
  }
  .image-container img {
    width: 100%;
    height: 30%;
  }

  
  .product-info {
    max-width: 600px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-info h2 {
    font-size: 28px;
  }
  
  .product-info p {
    margin: 1rem 0;
    font-size: 16px;
  }
  
  .product-info h4 {
    font-size: 22px;
    color: #1f2937;
  }
  
  .product-info button {
    padding: 10px 20px;
    background-color: #1f2937;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  .recommended{
    width: 30%;
    min-height: 60vh;
    padding-top: 70px;
  }
  .recommended-title {
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 22px;
  }
  
  .recommended-products {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .feedback-section {
    max-width: 80%;
    margin-top: 40px;
  }
  
  .feedback-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .feedback-form textarea {
    padding: 8px;
    resize: none;
    font-size: 1rem;
  }
  
  .feedback-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    gap: 20px;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  
  .feedback-item {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 0;
    min-width: 200px;
    flex-shrink: 0; 
  }
  


@media (max-width:650px){
  .product-page {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 10px 20px 10px;

  }
  .main-product{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
  }
  .image-container {
    width: 90%;
    height: auto;
  }
  .recommended{
    width: 100%;
    min-height: 60vh;
  }

}
  